.root
{
    -fx-font-weight: bold;
}

.vbox
{
    -fx-alignment: center;
    -fx-padding: 10 0 10 0;
    -fx-spacing: 10;
    -fx-border-color: gray;
}

.palettes
{
    -fx-border-color: gray;
}

.layers
{
    -fx-alignment: center;
    -fx-scale-shape: true;
}

.palette-tile
{
    -fx-border-color: gray;
    -fx-background-color: transparent;
}

.palette-tile:hover
{
    -fx-effect: dropshadow( gaussian, #000000, 20, 0.0, 0,0 );
}

